[submodule "InciManager"]
	path = InciManager
	url = https://github.com/tejido18/InciManager_i2b
[submodule "InciDashboard"]
	path = InciDashboard
	url = https://github.com/tejido18/InciDashboard_i2b
[submodule "Agents"]
	path = Agents
	url = https://github.com/tejido18/Agents_i2b
[submodule "Loader"]
	path = Loader
	url = https://github.com/tejido18/Loader_i2b
